/*  
 This CSS file should contain styles relevant to the map viewport and map tiles. 
*/



a {text-decoration:none}        /* candidate for global styles */
img {border: none}              /* candidate for global styles */


/* responsive design styles*/
* {
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: Lucida Console, Courier, monospace;
}


div#parentContainer{
  display:flex;
  flex-direction: column;
  background-color: #e4b73d;
  border: none;
  height: 100vh;
  width: 100vw;
}

div#introductionContainer{
  background-color: #a4ff92;
  flex-basis:2em;
}


div#mapViewportContainer{
  background-color: #96d1f3;
  flex: 1;  
}

div#debugViewportContainer{
  flex-basis:2em;
}


div#map_viewport  {

}

div.map_viewport {
  visibility:visible;
  border:2px solid #000;
  z-index:11;
  
  min-height: 100%;
  position:relative;
  top:0;
  left:0;
  
  overflow:hidden;
  cursor:move;
}


.maptable {
 margin:0px;
 padding:0px; 
}


div.iemapstyle {
 z-index: 10;
 background-color:#ffffff;
 border:1px dotted #aaaaaa; 
 
 visibility:visible;
 width:1500px;
 height:1500px;
 position:absolute;
 top:0px;
 left:0px;
}

div.visiblemap {
 z-index: 10;
 width:1px;
 height:1px;
 position:absolute;
 overflow:visible;
}

div.visiblemapbackup {
 z-index: 10;
 width:125000px;
 height:15000px;
 position:absolute;
 overflow:visible;
}

div.viewportsplash {
 z-index: 20;
 background-color:#F0E68C;
 border:2px solid #000000;
 visibility:visible;
 position:absolute;
 font-family:sans-serif;
 text-align:center;
 top:45%;
 left:20%;
 right:20%;
}

div.maplayer {
 z-index: 10;
 z_background-color:#6699cc;
 background-image:url(/img/uiHexGrid.svg);
 background-size:50px;
 border:1px dashed #663300; 
 visibility:visible;
 position:absolute;
 top:0px;
 left:0px;
 
 font-family:sans-serif;
 font-size:small;
 color:#663300;
 
}

img.mapblock {
 height:100px;
 width:100px;
 margin:0px;
 padding:0px;
 
}


.sampleisland {
  z-index:9;
  position:absolute;
  height:40px;
  width:40px;
}

.sampleship {
  z-index:9;
  position:absolute;
  top:70px;
  left:150px;
  height:40px;
  width:40px;
}


.debug {
  display:flex;
  visibility:visible;
  border:2px solid #000;
  background:white; 
  font-family:sans-serif;
  font-size:small;
  position:relative;
 
  overflow:hidden;
 
  cursor:move;
}


